<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Archivos Subidos</title>
</head>
<body>
  <h1>Archivos Subidos</h1>
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="file">
    <button type="submit">Subir Archivo</button>
  </form>

  <h2>Archivos Disponibles:</h2>
  <ul>
    <% for (const file of files) { %>
      <li><a href="/uploads/<%= file %>"><%= file %></a></li>
    <% } %>
  </ul>
</body>
</html>

